<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static './src/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static './src/css/index.css' %}" media="screen">
    <link rel="stylesheet" href="{% static './src/css/people.css' %}" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <body data-home-page="Главная.html"
        data-home-page-title="Главная" class="u-body u-xl-mode"
        data-lang="ru">
    <header class="u-box-shadow u-clearfix u-header u-palette-1-base u-header"
                               id="sec-41cc"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="150" data-image-height="150">
          <img src="{% static './src/logo/image.svg' %}"  class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 500;">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g>
                  <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
            </g></svg>

          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white" href="Главная.html" style="padding: 10px 20px;">Главная</a>
            </li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white" href="{% url 'people' %}" style="padding: 10px 20px;">Добавить подозриваемого</a>
            </li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white" href="АИС-РУАТ.html" style="padding: 10px 20px;">АИС РУАТ</a>
            </li><li class="u-nav-item"><a class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white" target="_blank" style="padding: 10px 20px;">АИС Вещи</a>
            </li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Главная.html">Главная</a>
            </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="АИС-Оружие.html">АИС Оружие</a>
            </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="АИС-РУАТ.html">АИС РУАТ</a>
            </li><li class="u-nav-item"><a class="u-button-style u-nav-link" target="_blank">АИС Вещи</a>
            </li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="/" class="u-image u-logo u-image-2" data-image-width="110" data-image-height="110">
          <img src="{% static './src/logo/image.svg' %}" class="u-logo-image u-logo-image-2">
        </a><span class="u-icon u-icon-circle u-palette-1-base u-text-white u-icon-1">
      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55" style=""><
          use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-022d">
          </use>
      </svg>
      <svg class="u-svg-content" viewBox="0 0 55 55" x="0px" y="0px" id="svg-022d" style="enable-background:new 0 0 55 55;">

      </svg></span>
      </div></header>

         {% block content %}


     {% endblock %}



    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-10e4"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">ГУУР МВД КР</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="/" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>.
    </section>



        <script class="u-script" type="text/javascript" src="{% static './src/js/jquery.js' %}" defer=""></script>
        <script class="u-script" type="text/javascript" src="{% static './src/js/nicepage.js' %}" defer=""></script>
</body>
</html>


