{% extends 'base.html' %} {% block content %} {% load static %}
<section class="u-align-center u-clearfix u-section-1" id="sec-b1e1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead class="u-palette-1-base u-table-header u-table-header-1">
              <tr style="height: 21px;">
                <th class="u-border-1 u-border-grey-50 u-table-cell">Серийный номер</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">Марка</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">Владелец</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">Дата</th>
              </tr>
            </thead>
            <tbody class="u-grey-5 u-table-body u-table-body-1">
            {% for peoples in people %}
              <tr style="height: 75px;">
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><a href="{% url 'people_detail' peoples.id %}">{{ peoples.inn }}</a></td>
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ peoples.address }}</td>
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ peoples.last_name }} {{ peoples.first_name }} {{ peoples.middle_name }}</td>
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ peoples.created }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>

        </div>
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead class="u-palette-1-base u-table-header u-table-header-1">
              <tr style="height: 21px;">
                <th class="u-border-1 u-border-grey-50 u-table-cell">Серийный номер</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">Марка</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">Владелец</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">Дата</th>
              </tr>
            </thead>
            <tbody class="u-grey-5 u-table-body u-table-body-1">
            {% for wea in weapons %}
              <tr style="height: 75px;">
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ wea.code }}</td>
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ wea.erp }}</td>
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ wea.title }}</td>
                <td class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{ wea.created }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>

      </div>
      </div>

    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-539e">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h1 class="u-text u-title u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">92</h1>
                <p class="u-text u-text-2">Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <h1 class="u-text u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">25</h1>
                <p class="u-text u-text-4">Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <h1 class="u-text u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">37</h1>
                <p class="u-text u-text-6">Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                <h1 class="u-text u-title u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">87</h1>
                <p class="u-text u-text-8">Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{%endblock%}