
    <section class="u-clearfix u-section-1" id="sec-efc7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">данные человека</h2>
        <h2 class="u-text u-text-default u-text-2">Данные оружия</h2>
        <div class="u-border-2 u-border-grey-25 u-form u-grey-5 u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-02e7" class="u-label">ИНН</label>
              <input type="text" placeholder="Введите ИНН" id="name-02e7" name="number" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-02e7" class="u-label">Фамилия</label>
              <input type="email" placeholder="Введите Фамилию" id="email-02e7" name="text" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-group-3">
              <label for="text-3182" class="u-label">Имя</label>
              <input type="text" placeholder="Введите имя" id="text-3182" name="text-1" class="u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-group-4">
              <label for="text-b8f3" class="u-label">Отчество</label>
              <input type="text" placeholder="Введите Отчество" id="text-b8f3" name="text-2" class="u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="text-d487" class="u-label">Адрес</label>
              <input type="text" placeholder="Введите Адрес" id="text-d487" name="text-3" class="u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-group-6">
              <label for="text-85ec" class="u-label">Город</label>
              <input type="text" id="text-85ec" name="text-7" class="u-input u-input-rectangle" placeholder="Введите Город, Область, Район">
            </div>
            <div class="u-form-date u-form-group u-form-group-7">
              <label for="date-7741" class="u-label">Дата рождения</label>
              <input type="text" readonly="readonly" placeholder="ММ/ДД/ГГГГ" id="date-7741" name="date" class="u-input u-input-rectangle" required="" data-date-format="mm/dd/yyyy">
            </div>
            <div class="u-form-group u-form-select u-form-group-8">
              <label for="select-3026" class="u-label">Вложить</label>
              <div class="u-form-select-wrapper">
                <select id="select-3026" name="select" class="u-input u-input-rectangle">
                  <option value="" data-calc=""></option>
                  <option value="Фото" data-calc="">Фото</option>
                  <option value="Файл" data-calc="">Файл</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-none u-btn-1">Отправить</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
            <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="d7427a6f25f00250c34fb93b4ddcc401">
          </form>
        </div>
        <div class="u-border-2 u-border-grey-25 u-form u-grey-5 u-form-2">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-02e7" class="u-label">Серийный номер</label>
              <input type="text" placeholder="Введите серийный номер" id="name-02e7" name="number" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-02e7" class="u-label">Модель оружия</label>
              <input type="email" placeholder="Введите Модель оружия" id="email-02e7" name="text" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-group-12">
              <label for="text-3182" class="u-label">Номер ЕРП</label>
              <input type="text" placeholder="Введите номер ЕРП" id="text-3182" name="text-1" class="u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-message">
              <label for="message-02e7" class="u-label">Примичание</label>
              <textarea placeholder="Введите Ваше примичание" rows="4" cols="50" id="message-02e7" name="message" class="u-input u-input-rectangle" required=""></textarea>
            </div>
            <div class="u-form-group u-form-select u-form-group-14">
              <label for="select-978f" class="u-label">Вложить</label>
              <div class="u-form-select-wrapper">
                <select id="select-978f" name="select" class="u-input u-input-rectangle">
                  <option value="" data-calc=""></option>
                  <option value="Фото" data-calc="">Фото</option>
                  <option value="Файл" data-calc="">Файл</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class="u-align-right u-form-group u-form-submit">
              <a href="#" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-2">Отправить</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
            <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="d7427a6f25f00250c34fb93b4ddcc401">
          </form>
        </div>
        <h2 class="u-text u-text-default u-text-3">инециатор</h2>
        <div class="u-border-2 u-border-grey-25 u-expanded-width u-form u-grey-5 u-form-3">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="email">
            <div class="u-form-group u-form-name u-label-top">
              <label for="name-ef64" class="u-label">Инициатор</label>
              <input type="text" placeholder="Ф.И.О" id="name-ef64" name="name" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-label-top">
              <label for="email-ef64" class="u-label">Должность</label>
              <input type="email" placeholder="Звание и Должность" id="email-ef64" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-label-top u-form-group-18">
              <label for="text-f21c" class="u-label">Орган</label>
              <input type="text" placeholder="Введите орган" id="text-f21c" name="text" class="u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-submit u-label-top">
              <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
            <div class="u-form-send-error u-form-send-message">#FormSendError</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="d7427a6f25f00250c34fb93b4ddcc401">
          </form>
        </div>
      </div>
    </section>


