 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1153px;
}

.u-section-1 .u-group-1 {
  width: 610px;
  min-height: 656px;
  background-image: none;
  margin: 132px auto 60px;
}

.u-section-1 .u-image-1 {
  width: 169px;
  height: 169px;
  margin: 20px auto 0 221px;
}

.u-section-1 .u-form-1 {
  height: 413px;
  width: 570px;
  margin: 34px auto 0 20px;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 171px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}


.align-center {
    display: flex;
    justify-content: center;
    align-items: center;

}