.u-section-1 .u-sheet-1 {
  min-height: 1399px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 190px 87px 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: -39px auto 0 87px;
}

.u-section-1 .u-form-1 {
  height: 806px;
  background-image: none;
  margin: 33px 0 0 570px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 571px;
  background-image: none;
  margin: -716px 614px 0 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 138px auto 0 145px;
}

.u-section-1 .u-form-3 {
  height: 107px;
  margin-top: 24px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 370px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 414px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1232px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1081px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1269px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -135px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 1291px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1127px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 566px;
    margin-left: 91px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -122px;
  }
}